h5, h4 {
  text-align: center;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.row.center a {
  margin: 2px;
  width: 200px;
}

.profilePic {
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
}

.btn {
  margin: 2px;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}

/* # Profile Page
________________________________________*/


/* # Trip Preferences Page
________________________________________*/

.start-planning .collapsible-body {
  padding: 10px;
}

.locationInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.locationInput > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.locationAccordion .collapsible-body {
  padding: 10px 20px;
}

.locationsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
          justify-content: flex-start;
}

.durationsAccordion .collapsible-body {
  padding-right: 20px;
}

.durationsAccordion .input-field {
  margin-top: 0;
}

.durationsAccordion .friendsBox {
  margin-top: 12px;
}

.budgetAccordion .friendsBox {
  padding: 10px;
}

.bling {
  display: inline;
  text-decoration: bold;
  font-size: 22px;
  padding: 0 23px 0 8px;
}

.checkbox {
  padding: 0 23px 0 0;
}

.friendsBox {
  border: 2px solid orange;
  border-radius: 5px;
}




/* # Trip Page
---------------------------------------- */

span[class^="preferences-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span[class^="preferences-"] .material-icons {
  margin-top: -1px;
  margin-right: 2px;
}


/* ## Bookmarks
---------------------------------------- */

.bookmark-comments form {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}

.bookmark-comments .input-field.comment-input {
  margin-top: 0;
}

.bookmark-comments .comments-open,
.bookmark-comments .comments-close {
  float: right;
}

.bookmark-comments .comments-close {
  display: none;
}

.bookmark-comments .active .comments-close {
  display: block;
}

.bookmark-comments .active .comments-open {
  display: none;
}

.bookmark-comments .collection-item {
  padding: 20px;
}

.comment-header {
  margin-bottom: 10px;
}

.comment-header .author {
  font-size: 20px;
}

.comment-header .datetime {
  font-weight: 300;
  margin-left: 10px;
}


/* # Homepage
---------------------------------------- */

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

.homepage-intro,
.homepage-quote,
.homepage-slider,
.homepage-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.homepage-data {
  padding-top: 60px;
  padding-bottom: 60px;
}

.homepage-cta .parallax::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
}

/* # Landing Page
---------------------------------------- */

.bling-header {
  font-size: 44px;
  padding: 5px 0 9px 0;
}

/* # Nav Bar
---------------------------------------- */

div.nav-wrapper.container {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

/* # Trip Room
---------------------------------------- */

div.tripRoomMainContentContainer.col {
  width: 94%;
  padding-left: 4%;
  padding-right: 2%;
}

