h5, h4 {
  text-align: center;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.row.center a {
  margin: 2px;
  width: 200px;
}
.profilePic {
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
}
.btn {
  margin: 2px;
}
.bling {
  display: inline;
  text-decoration: bold;
  font-size: 22px;
  padding: 0 23px 0 8px;
}

.collapsible-body {
  padding: 10px 10px 10px 10px;
}

