/**
 * Breakpoints
 * Small screens: max-width of 600px
 * Medium screens: max-width of 992px
 * Large screen: min-width of 993px
 * Extra Large screen: min-width of 1200px
 */

/*h5, h4 {
  text-align: center;
}*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.row.center a {
  margin: 2px;
  width: 200px;
}

.profilePic {
  width: 100%;
  border: 2px solid grey;
  border-radius: 5px;
}

.btn {
  margin: 2px;
}

.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}

/* # Profile Page
________________________________________*/

.ProfileTrips .collapsible-header {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

/* # Trip Preferences Page
________________________________________*/

.start-planning .collapsible-body {
  padding: 10px;
}

.locationInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
}

.locationInput > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.locationAccordion .collapsible-body {
  padding: 10px 20px;
}

.locationsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
          justify-content: flex-start;
}

.durationsAccordion .collapsible-body {
  padding-right: 20px;
}

.durationsAccordion .input-field {
  margin-top: 0;
}

.durationsAccordion .friendsBox {
  margin-top: 12px;
}

.budgetAccordion .friendsBox {
  padding: 10px;
}

.bling {
  display: inline;
  text-decoration: bold;
  font-size: 22px;
  padding: 0 23px 0 8px;
}

.checkbox {
  padding: 0 23px 0 0;
}

.friendsBox {
  border: 2px solid orange;
  border-radius: 5px;
  padding: 5px;
}


/* # Homepage
---------------------------------------- */

.homepage-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh * 0.75);
  padding-top: 90px;
  padding-bottom: 90px;
}

.homepage-section .row:last-of-type {
  margin-bottom: 0;
}

.parallax-container {
  line-height: 0;
  height: auto;
}

.parallax-container .section {
  width: 100%;
}

.homepage-intro,
.homepage-quote,
.homepage-slider,
.homepage-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
}

.homepage-intro .parallax::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%);
  height: 100%;
  width: 100%;
}

.homepage-data {
  padding-top: 60px;
  padding-bottom: 60px;
}

.homepage-process .section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.homepage-process .section:first-of-type {
  padding-top: 0;
}

.homepage-process .section:last-of-type {
  padding-bottom: 0;
}

.homepage-cta .parallax::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  height: 100%;
  width: 100%;
}

.bling-header {
  font-size: 44px;
  padding: 5px 0 9px 0;
}

.bubble {
  display: inline-block;
  background-color: #9ccc65;
  padding: 2%;
  border-radius:50%;
}
.little {
  padding: 5px;
}
.tiny {
  padding: 3px;
}

@media (min-width: 601px) {

  .homepage-intro .container {
    max-width: 60%;
  }

}

/* # Nav Bar
---------------------------------------- */

div.nav-wrapper.container {
  width: 100%;
  padding-left: 4%;
  padding-right: 4%;
}

/* # Loading Page
________________________________________*/

.loading-card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  min-height: calc(100vh * 0.7);
  text-align: center;
}

/* # Trip Page
---------------------------------------- */

div.tripRoomMainContentContainer.col {
  width: 94%;
  padding-left: 4%;
  padding-right: 2%;
}

span[class^="preferences-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span[class^="preferences-"] .material-icons {
  margin-top: -1px;
  margin-right: 2px;
}

.recommendation-slider-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendation-card.horizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommendation-card.card  .card-image {
  max-width: 100%;
  width: 100%;
}

.recommendation-card .card-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.35) 65%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.35) 65%, rgba(0,0,0,0.65) 100%);
}

.recommendation-card  .card-image .card-title {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}

.chatMessageContainer {
  background-color: #dee2e8;
  border-radius: 20px;
  display: inline-block;
  padding: 5px 10px;
}

.main-stars {
  position: relative;
}

.half-star {
  position: relative;
  margin-left: 5px;
}

.half-star::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  z-index: 99;
}

@media (min-width: 481px) {

  .recommendation-card.horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

}

@media (min-width: 601px) {

  .recommendation-card.horizontal  .card-image {
    max-width: 45%;
    width: 100%;
  }

}

/* ## Bookmarks
---------------------------------------- */

.collection .collection-item.trip-bookmark {
  padding: 0;
}

.bookmark-main {
  padding: 20px 10px;
}

.bookmark-comments {
  margin-bottom: 0;
}

.bookmark-comments > .col {
  padding: 0;
}

.bookmark-comments > .col > .collapsible {
  border-left: none;
  border-right: none;
  border-bottom: none;
  box-shadow: none;
  margin: 0;
}

.bookmark-comments form {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
}

.bookmark-comments .input-field.comment-input {
  margin-top: 0;
}

.bookmark-comments .comments-open,
.bookmark-comments .comments-close {
  float: right;
}

.bookmark-comments .comments-close {
  display: none;
}

.bookmark-comments .active .comments-close {
  display: block;
}

.bookmark-comments .active .comments-open {
  display: none;
}

.bookmark-comments .collection-item {
  padding: 20px;
}

.comment-header {
  margin-bottom: 10px;
}

.comment-header .author {
  font-size: 20px;
}

.comment-header .datetime {
  font-weight: 300;
  margin-left: 10px;
}

/* # Live Chat
---------------------------------------- */

.chat-window {
  max-height: calc(100vh * 0.55);
  overflow: auto;
}
